header {
  min-height: var(--header-height);
  background-color: var(--color-primary);
}

.switch-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin-right: var(--container-paddingX);
  height: 100%;
}

@media (min-width: 576px) {
  .container.header-container {
    justify-content: center;
  }
}
