header {
  min-height: 7.5vh;
  background-color: #9c27b0;
}

.switch-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin-right: var(--container-paddingX);
  height: 100%;
}
