<footer class="flex-column justify-center">
  <div class="container justify-center flex-row">
    <div class="link-container flex-row">
      <a href="https://www.linkedin.com/in/domenico-cavaglieri-aa0333217/">
        <img
          class="imgFooter"
          src="../../assets/images/linkedin_icon-icons.com_65439.png"
          alt="linkedin icon"
        />
      </a>
      <a href="https://github.com/cavaglieridomenico">
        <img
          class="imgFooter"
          src="../../assets/images/github_git_icon_145985.png"
          alt="github icon"
        />
      </a>
      <div class="flex-column justify-center">
        <span> || </span>
      </div>
      <a href="https://github.com/FrancoCristiano">
        <img
          class="imgFooter"
          src="../../assets/images/github_git_icon_145985.png"
          alt="github icon"
        />
      </a>
      <a href="https://www.linkedin.com/in/cristiano-franco-b633b0167/">
        <img
          class="imgFooter"
          src="../../assets/images/linkedin_icon-icons.com_65439.png"
          alt="linkedin icon"
        />
      </a>
    </div>
  </div>
</footer>
