<footer class="flex-column align-center">
  <div class="container flex-row justify-center containerFooter">
    <a href="https://www.linkedin.com/in/domenico-cavaglieri-aa0333217/">
      <img
        class="imgFooter"
        src="../../assets/images/linkedin_icon-icons.com_65439.png"
        alt="linkedin icon"
      />
    </a>
    <a href="https://github.com/cavaglieridomenico">
      <img
        class="imgFooter"
        src="../../assets/images/github_git_icon_145985.png"
        alt="github icon"
      />
    </a>
    <div>
      <span> <h2 class="spanFooter">||</h2> </span>
    </div>
    <a href="https://github.com/FrancoCristiano">
      <img
        class="imgFooter"
        src="../../assets/images/github_git_icon_145985.png"
        alt="github icon"
      />
    </a>
    <a href="https://www.linkedin.com/in/cristiano-franco-b633b0167/">
      <img
        class="imgFooter"
        src="../../assets/images/linkedin_icon-icons.com_65439.png"
        alt="linkedin icon"
      />
    </a>
  </div>
</footer>
