footer {
  background-color: var(--color-primary);
  height: var(--footer-height);
  min-height: 35px;
  margin-top: var(--footer-margin-top);
}

.link-container {
  height: fit-content;
}

.link-container a {
  margin: 0 3px;
  display: flex;
  align-items: center;
  height: fit-content;
}
