:root {
  --container-paddingX: 3vw;
  --container-paddingY: 0;
  --header-height: 10vh;
  --alert-height: 40px;
  --main-height: 70vh;
  --main-margin-bottom: var(--alert-height);
  --footer-height: 10vh;
  --footer-margin-top: 0.2vh;

  --color-primary: #9c27b0;
  --color-main-background: #303030;
  --color-text: #fefefe;
}

@media (min-width: 576px) {
  :root {
    --container-paddingX: 10%;

    --header-height: 7.5vh;
    --main-height: 78vh;
    --footer-height: 7.5vh;
  }
}
