<form [formGroup]="yachtForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label> Yacht name </mat-label>
      <input matInput formControlName="productName" />
      <mat-hint *ngIf="!yachtForm.get('productName').valid"
        >Required field</mat-hint
      >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label> Yacht tag line </mat-label>
      <input matInput formControlName="productTagLine" />
      <mat-hint *ngIf="!yachtForm.get('productTagLine').valid"
        >Required field</mat-hint
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label> Yacht image URL</mat-label>
      <input matInput formControlName="productImg" />
      <mat-hint *ngIf="!yachtForm.get('productImg').valid"
        >Required field</mat-hint
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label> Yacht description </mat-label>
      <textarea
        matInput
        rows="5"
        cols="5"
        formControlName="description"
      ></textarea>
      <mat-hint *ngIf="!yachtForm.get('description').valid"
        >Required field</mat-hint
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label> Yacht daily cost</mat-label>
      <input matInput formControlName="dailyCost" type="number" />
      <mat-hint *ngIf="!yachtForm.get('dailyCost').valid"
        >Required field</mat-hint
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>It's on offer?</mat-label>
      <mat-select formControlName="onOffer">
        <mat-option value="yes"> Yes </mat-option>
        <mat-option value="no"> No </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex-column align-center">
    <button
      [disabled]="!yachtForm.valid"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onAddYacht()"
    >
      Add Yacht
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onDeleteYacht()"
    >
      Delete Yacht
    </button>
    <button
      [disabled]="!yachtForm.valid"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onUpdateYacht()"
    >
      Update Yacht
    </button>
  </div>
  <div
    class="modal flex-row justify-center align-center"
    *ngIf="responseYachtMessage"
  >
    <p>{{ responseYachtMessage }}</p>
  </div>
</form>
