<div class="container">
  <main class="flex-column align-center justify-center">
    <section>
      <h2 class="text-error">OOPS!!</h2>
      <h4 class="text-error">Page not Found</h4>
      <p class="text-center">We're sorry , please come back to homepage .</p>

      <img src="../assets/images/boatSinking2.jpg" alt="Sinking Boat" />

      <div class="btnBack">
        <button mat-raised-button color="primary" routerLink="/">
          Back to Home
        </button>
      </div>
    </section>
  </main>
</div>
