.container.alert-container {
  height: var(--alert-height);
  margin: 5px 0;
}

.alert {
  width: fit-content;
  margin: auto;
  padding: 0.8em;
  border-radius: 16px;
  margin: 0 auto;
}

.mt-5 {
  margin-top: 7vh;
}

@media (min-width: 576px) {
  .mt-5 {
    margin-top: 12vh;
  }
}
