<div class="container">
  <main class="flex-column align-center yachts" [ngClass]="{ my: yachtList }">
    <h1 class="title">Yachts</h1>
    <section class="flex-row justify-center yacht-list">
      <div class="loading" *ngIf="!yachtList">
        <p>{{ errorMessageFetch }}</p>
        <mat-progress-bar mode="indeterminate">Aiuto</mat-progress-bar>
      </div>
      <mat-card class="yacht-card" *ngFor="let yacht of yachtList">
        <mat-card-header>
          <mat-card-title>
            {{ yacht.productName }} ({{ yacht.id }})
          </mat-card-title>
          <mat-card-subtitle>{{ yacht.productTagLine }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ yacht.productImg }}" alt="productName" />
        <mat-card-content>
          <p class="description">{{ yacht.description }}</p>
        </mat-card-content>
        <p>Costo giornaliero : {{ yacht.dailyCost | currency: "EUR" }}</p>
        <div class="offer">
          <p *ngIf="yacht.onOffer">20% Off</p>
        </div>
        <mat-card-actions>
          <div *ngIf="false">
            <button mat-button color="accent">EDIT</button>
          </div>
          <a [routerLink]="['/edit', yacht.id]">
            <button mat-button>EDIT</button>
          </a>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </section>
  </main>
</div>
