/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* wrappers  */
.app {
  height: 100vh;
  min-width: 390px;
}

.container {
  padding: 0 10%;
}

main {
  min-height: 80vh;
  background-color: #303030;
}
/* wrappers END  */

/* Flex */
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
/* Flex END */

.title {
  color: #4a4747;
}
