main.home-page {
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-main-background)
  );
}

section.home-page {
  height: var(--main-height);
}

.title-container {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}

.home-title {
  font-size: 20px;
  margin-bottom: 5vh;
}

.home-content-central {
  margin-bottom: 8vh;
}

.img-container {
  display: flex;
  justify-content: center;
  background-color: #0f0f0f53;
}

.img-container img {
  max-width: 90%;
  max-height: 60vh;
  border-radius: 100%;
  border: solid 2px var(--color-primary);
  box-shadow: 4px 15px 15px 8px #00000080;
}

@media (min-width: 576px) {
  .home-title {
    margin-top: 2vh;
  }
  .home-title {
    font-size: 25px;
  }
  .img-container img {
    box-shadow: 12px 24px 15px 13px #00000080;
  }
}

@media (min-width: 992px) {
  .home-title {
    margin-top: 5vh;
  }
  .home-title {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .home-title {
    margin-top: 10vh;
  }
}
