.my {
  margin: 3vh 0;
}

.yacht-list {
  flex-wrap: wrap;
}

.yacht-card {
  max-width: 500px;
  margin: 1em;
}

.description {
  height: 260px;
  overflow-y: hidden;
}

@media (min-width: 992px) {
  .yacht-card {
    width: 500px;
    margin: 1em;
    min-height: 600px;
  }

  .offer {
    min-height: 26px;
  }
}

.loading {
  margin-top: 3em;
  font-size: 1.5em;
}

section.yacht-list img {
  height: 300px;
}

.mt-5 {
  margin-top: 5vh;
}
