.mt {
  margin-top: 3vh;
}

.yacht-list {
  flex-wrap: wrap;
}

.yacht-card {
  max-width: 500px;
  margin: 1em;
}

@media (min-width: 992px) {
  .yacht-card {
    width: 500px;
    margin: 1em;
  }
}

.loading {
  margin-top: 3em;
  font-size: 1.5em;
}
